<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asking For a Friend</title>
    <!--Bulma CDN-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
   <!--Our CSS-->
   <link rel="stylesheet" href="/public/css/style.css">
    <!-- Font Awesome-->
   <script src="https://kit.fontawesome.com/e191672493.js" crossorigin="anonymous"></script>
   <!--Google Fonts-->
   <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

</head>
<body>
    {{{body}}}
</body>
</html>