<div class="container" id="body-container">
    <header class="mb-4">
        <div class="container has-text-centered">
            <img src="/assets/img/AskingForAFriend_Logo.png" alt="Asking For a Friend Logo" height="300" width="300">
            <div class="columns">
                <div class="column placeholder-column"></div>
                <div class="column is-8 mx-6 mt-3">
                    <p class="tagline content is-medium">
                        Don't want to ask your friends or family an embarrassing question? Maybe you feel like you should know this by now? Try asking for a friend instead!
                    </p>
                </div>
                <div class="column placeholder-column"></div>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="containter">
            <div class="columns is-centered has-text-centered">
                <div class="column is-4">
                    <div class="card mx-3">
                        <div class="card-content">
                            <p class="content">
                                Been here before?
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a id="login" href="/login">LOG IN</a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card mx-3">
                        <div class="card-content">
                            <p class="content">
                                Want to join the party?
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a id="sign-up" href="/signup">SIGN UP</a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>