<header class="hero is-success mb-4">
    <div class="hero-body has-text-centered mt-3">
        <div class="container">
            <h1 class="title is-1">
                Asking For a Friend
            </h1>
            <div class="container px-6 mx-6">
                <p class="mx-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, harum! Adipisci excepturi nisi
                    optio quo quod in maxime aspernatur expedita, accusamus vero facere. Debitis, tempora
                    exercitationem excepturi velit officiis impedit!
                </p>
            </div>

        </div>
    </div>
</header>

<section class="section">
    <div class="containter m-6">
        <div class="columns has-text-centered">
            <div class="column"></div>
            <div class="column is-4">
                <div class="card mx-3">
                    <div class="card-content">
                        <p>
                            Already have an account?
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <a href="/login">Log In</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card mx-3">
                    <div class="card-content">
                        <p>
                            Want to join the party?
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <a href="/signup">Sign Up</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>