<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/index">
            <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/index">Home</a>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>
<!--End navigation-->
<main class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <div id="form-container" class="box">
                    <p class="content form-header">Welcome back!</p>
                    <!--Login form starts here-->
                    <form action="" class="login">
                        <div class="field">
                            <label class="label">
                                Username
                            </label>
                            <div class="control has-icons-left">
                                <input class="input is-success" type="text" placeholder="Enter username" value=""
                                    id="username-input">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">
                                Password
                            </label>
                            <input type="password" class="input" placeholder="Enter password" id="password-input">
                        </div>
                        <div class="containter">
                            <button class="button is-medium is-fullwidth is-success mb-2">Log In</button>
                            <a class="button is-small is-fullwidth is-light" href="/signup">Don't have an account? Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>