<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">
      <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {{!-- <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/index">
        Home
      </a>
    </div>
  </div> --}}
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/index">
            Log Out
        </a>
      </div>
    </div>
  </div>
</nav>
<!--Navbar End-->
<section class="section">
  <div class="columns">
    <div class="column is-4">
      <article class="panel">
        <p class="panel-heading">
          Ask a new Question!
        </p>
        <div class="panel-block">
          <div class="control">
            <label for="title" class="label">Title</label>
            <input class="input mb-2" type="text" placeholder="Enter a title for your question" id="title-input">
            <label for="content" class="label">Content</label>
            <textarea id="question-input" class="textarea" placeholder="Provide any necessary details"></textarea>
            <input class="button mt-3" type="submit" value="Submit" id="question-form">
          </div>
        </div>
      </article>
      <!--Unanswered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Unanswered Questions
        </p>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>Tech</a>
          <a>Pop Culture</a>
          <a>Automotive</a>
          <a>Health/Nutrition</a>
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Keyword">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
<<<<<<< HEAD
        <ul>
          {{#each questions}}
          <li>
            {{!-- {{#unless answer}} --}}
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-question" aria-hidden="true"></i>
              </span>
              {{ title }}
            </a>
            {{!-- {{/unless}} --}}
          </li>
          {{/each}}
        </ul>
=======
        {{#each Questions}}
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-question" aria-hidden="true"></i>
          </span>
          {{ question }}
        </a>
        {{/each}}
>>>>>>> 01366026b7818d043fc58b8840c0b561253bc68f
      </article>

      <!--Answered Questions-->
      <article class="panel">
        <p class="panel-heading">
          Answered Questions
        </p>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>Tech</a>
          <a>Pop Culture</a>
          <a>Automotive</a>
          <a>Health/Nutrition</a>
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Keyword">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        {{#each Questions}}
        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fas fa-question" aria-hidden="true"></i>
          </span>
        </a>
        {{/each}}
      </article>
    </div>
    <!--Display the clicked question and answer form-->
    <div class="column is-8">
      <div class="box">
        <div id="display-question">
          <h3 id="display-question-title">Question Title</h3>
          <div class="content">
            <p id="display-question-body">
              Question body. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Neque officia illum ad id laborum optio magnam
              nostrum,
              minima necessitatibus provident odio culpa facilis dolorem consectetur eius vero
              facere
              debitis assumenda.
            </p>
          </div>

        </div>
        <hr>
        <div>
          <h3 id="answers-heading">Answers</h3>
          <div class="content">
            <ol>
              <li>
                Answer
              </li>
            </ol>
          </div>
        </div>
        <hr>
        <h3 id="answer-form-heading">Answer This Question</h3>
        <form action="">
          <div class="control">
            <textarea class="textarea mb-2" placeholder="Enter your answer here" rows="8">
            </textarea>
            <input class="button" type="submit" value="Submit">
          </div>
        </form>
        <hr>
        <div class="content">
          <p>Or ask a new question <a href="/ask">here.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>