<form>
    <input id = "titletest" type ="text">
    <input id = "questiontest" type ="text">
    <button id = "testbutton">Submit</button>
</form>

<script>
    $("#testbutton").on('click', function(event) {
    event.preventDefault();
    var newQuestion = {
      title: $("#titletest").val().trim(),
      question: $("#questiontest").val().trim()
    };
    console.log(userQuestion);
    postQuestion(userQuestion.title, userQuestion.question);

    //if (!userData.username || !userData.password) { //change to username
      //return;
    //}
    // If we have an username and password, run the signUpUser function
    //signUpUser(userData.username, userData.password); //change this to username
    //usernameInput.val(''); //change this to username
    //passwordInput.val('');
  });
   function postQuestion(title, question) { //change this to username
    $.post('/api/questions', {
      title: title, //change this to username
      question: question
    })
      .then(function(data) {
        console.log(data);
        window.location.replace('/questions');
        // If there's an error, handle it by throwing up a bootstrap alert
      })
      .catch(handleLoginErr);
  }

</script>