<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/index">
            <img src="/assets/img/AskingForAFriend_Nav.png" width="175" height="75">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/index">Home</a>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <a class="button is-light" href="/logout">Log Out</a>
        </div>
    </div>
</nav>
<!--End navigation-->
<main class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4 ">
                <div id="form-container" class="box">
                    <p class="content form-header">Get the answers to your burning questions!</p>
                    <!--Sign Up form starts here-->
                    <form action="" class="signup">
                        <div class="field">
                            <label class="label">
                                Username
                            </label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="Create a username" value="" id="username-input">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                {{!-- <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span> --}}
                            </div>
                            <div style="display: none" id="alert" role="alert">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">
                                Password
                            </label>
                            <input type="password" class="input" placeholder="Create a password" id="password-input">
                        </div>
                        <div class="field">
                            <label class="label" for="password">
                                Confirm Password
                            </label>
                            <input type="password" class="input" placeholder="Re-enter your password" id="password-verify">
                        </div>
                        <button class="button is-medium is-fullwidth is-success mb-2">Sign Up</button>
                        <a class="button is-small is-fullwidth is-light" href="/signup">Already have an account? Sign Up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
