body {
    background-color: rgb(252, 236, 222);
    height: 100vh;
}

#body-container {
    background-color: rgb(252, 236, 222);
}

.tagline {
    font-family: 'Diadict Gothic', sans-serif;
}

.card-content,
.form-header,
.panel-heading,
#display-question-title,
#answers-heading,
#answer-form-heading,
#ask-question {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2rem;
}

#login, #sign-up {
    font-family: 'Didact Gothic', sans-serif;
}

#login:hover, #sign-up:hover {
    text-transform: uppercase;
}

.placeholder-column {
    padding: 0;
}

.panel-block, .panel-tabs {
    background-color: white;
}