body {
    background-color: rgb(252, 236, 222);
    height: 100vh;
}

.body-container {
    background-color: rgb(252, 236, 222);
}

.tagline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

#login,
#sign-up {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#login:hover,
#sign-up:hover {
    font-weight: 600;
}

.card-content,
.form-header,
.panel-heading {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2rem;
}

.panel-block {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.panel-tabs {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

/* section around main questions.handlebars */
#questions-main {
    background-color: rgb(252, 236, 222);
    padding-top: 2rem;

}

/* styles main question/answer body in questions.handlebars */
#question-box {
    padding: 2rem;
}

#answers-heading,
#answer-form-heading,
#question-heading {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 10px;
}

#display-question-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

#display-question-content {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#display-createdAt {
    font-family: 'Quicksand', sans-serif;
}

#question-details {
    margin-top: .75em;
}

#answer-list {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-left: 1em;
}

#alert {
    color: red;
    font-family: 'Didact Gothic', sans-serif;
}

.remove-num {
    list-style-type: none;
}