body {
    background-color: rgb(252, 236, 222);
    height: 100vh;
}

.body-container {
    background-color: rgb(252, 236, 222);
}

.tagline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.card-content,
.form-header,
.panel-heading,
#display-question-title,
#answers-heading,
#answer-form-heading,
#ask-question {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 2rem;
}

#login,
#sign-up {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#login:hover,
#sign-up:hover {
    font-weight: 600;
}

.placeholder-column {
    padding: 0;
}

.panel-block {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.panel-tabs {
    background-color: white;
}

#alert {
    color: red;
    font-family: 'Didact Gothic', sans-serif;
}

#answer-list {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}